@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100dvw;
  height: 100dvh;
}

.form-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-entrada h1 {
  font-size: 2vw;
}

.form-entrada div {
  position: relative;
}

.form-entrada div input {
  height: 35px;
  width: 15vw;
  padding: 5px 10px;
  font-size: 1vw;
  outline: none;
  border: 2px solid #6bd0ff;
  border-radius: 5px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-entrada div input:focus {
  border: 2px solid #00aeff;
  box-shadow: 0 0 4px #00aeff7e;
}

.form-entrada div button {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1vw;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.form-retorno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.form-retorno div p {
  font-size: 1vw;
}

.form-retorno input {
  height: 35px;
  width: 15vw;
  padding: 5px 10px;
  font-size: 1vw;
  outline: none;
  border: 2px solid #6bd0ff;
  border-radius: 5px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  cursor: text;
}

.form-retorno input:disabled {
  border: 2px solid #97deff;
  cursor: not-allowed;
}